.section-1-container {width: 100%; max-width: 1280px; height: 400px; margin: 0 auto; padding: 0 1rem;}
.section-1-container > .title {display: flex; justify-content: space-between; align-items: center;
padding: 2rem 0 0.5rem 0; border-bottom: 1px solid lightgray;}
.section-1-container > .title > #write-button {margin-bottom: 1rem;}
.section-1-container > .list-title {display: grid; grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
text-align: center; padding: 1rem 0; border-bottom: 1px solid lightgray;}
.section-1-container > .list-content {display: grid; grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
text-align: center;}
.page-container {display: flex; justify-content: center; padding: 5rem 0;}

.page-btn {padding: 0.25rem;}
.btn-on {background-color: black; color: white;}